.Header-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  /* border-bottom: 2px solid var(--light-teal); */
  justify-content: space-between;
  z-index: 90;
}
.Header-container-dark {
  background-color: #202020;
  color: var(-- --golden-color);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid var(--white-color);
  justify-content: space-between;
}
.heading-in-note-page {
  font-size: 3rem;
  color: var(--secondary-color);
  padding: 4px;
}
.name-of-app {
  color: var(--primary-color);
}
.menu-icon {
  font-size: 2rem;
  display: none;
}
.theme-icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--dark-cyan);
  cursor: pointer;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 880px) {
  .Header-container {
    width: 100%;
    padding: 4px;
    justify-content: space-between;
    /* border: none; */
  }
  .menu-icon {
    display: flex;
    /* margin-right: auto; */
    justify-self: flex-start;
  }
  .heading-in-note-page {
    font-size: 2.7rem;
  }
  .theme-icon {
    margin-right: 2rem;
    justify-self: flex-end;
  }
}
