.Header-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 3px 3px 4px var(--light-stone);
  justify-content: space-between;
  z-index: 20;
}
.Header-container-dark {
  background-color: #202020;
  color: var(--golden-color);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 3px 3px 4px var(--light-stone);
  justify-content: space-between;
  z-index: 21;
}
.heading-in-note-page {
  font-size: 3rem;
  color: var(--secondary-color);
  padding: 4px;
  margin: 3px;
}
.name-of-app {
  color: var(--primary-color);
}
.menu-icon {
  font-size: 2rem;
  display: none;
}
.theme-icon {
  font-size: 2.5rem;
  margin-right: 1rem;
  color: var(--dark-cyan);
  cursor: pointer;
}
.gap-2 {
  width: 10%;
  justify-content: space-between;
  cursor: pointer;
  padding: 2rem;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 880px) and (-webkit-min-device-pixel-ratio: 2) {
  .Header-container {
    width: 100%;
    padding: 4px;
    justify-content: space-between;
  }
  .menu-icon {
    display: flex;
    justify-self: flex-start;
  }
  .heading-in-note-page {
    padding: 0px 4px;
    font-size: 2.7rem;
    margin: auto;
  }
  .theme-icon {
    display: none;
  }
}
