.notecard-container {
  width: fit-content;
  height: auto;
  box-shadow: 2px 3px 4px var(--light-stone);
  gap: 10px;
}
.title-of-notes-container {
  width: 20rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  justify-content: space-between;
  font-weight: bold;
}
.title-card {
  width: 80%;
  margin-left: -8px;
  height: auto;
  text-align: left;
}

.tag-of-card,
.priority-of-card {
  font-size: 1.3rem;
  align-self: flex-start;
  margin-left: 2rem;
  background-color: rgb(241, 241, 135);
  padding: 4px;
}

.description-of-notes-container,
.tag-of-notes-container {
  width: 100%;
  font-size: 1.4rem;
  margin: 1rem;
}
.description-of-notes {
  align-self: flex-start;
  margin-left: 2rem;
}
.icons-of-notes-container {
  justify-content: flex-end;
  font-size: 2rem;
  gap: 1rem;
  margin: 0 2rem 1rem 0;
}
.notes-icon-notecard {
  width: fit-content;
  margin-right: 2px;
  color: var(--dark-stone);
  cursor: pointer;
}
.time-date-and-icon-container {
  width: 100%;
  justify-content: space-between;
}
.time-and-date-div {
  font-size: small;
  margin: 0 2rem 1rem 0.6rem;
  color: var(--dark-stone);
}
.label-of-card {
  /* background-color: beige; */
  padding: 4px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 880px) and (-webkit-min-device-pixel-ratio: 2) {
  .notecard-container {
    width: 30rem;
  }
}
