.filterbar-conatiner {
  flex-basis: 20%;
}
.filter-and-clear-filter-container {
  gap: 2rem;
  color: var(--dark-cyan);
  margin-top: 2.4rem;
}
.filter {
  margin-left: -4rem;
}
.clear-filters {
  font-size: 1.4rem;
}
.filter-items-container {
  padding: 9px;
  margin-left: -3rem;
  font-size: 1.5rem;
}
.filter-list-item {
  justify-content: flex-start;
  width: 100%;
}
.tags-container,
.priority-container {
  width: 100%;
  justify-content: flex-start;
  margin-top: 1rem;
}
input {
  margin-right: 5px;
}
.filter-tags,
.filter-priority {
  justify-content: flex-start;
  width: 100%;
  margin-top: 8px;
  font-weight: bold;
  color: brown;
}
.priority-container {
  font-size: small;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 880px) and (-webkit-min-device-pixel-ratio: 2) {
  .filterbar-conatiner {
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-left: 12rem;
  }
  .filter-and-clear-filter-container {
    width: 100%;
    margin: -10rem 0 0 1rem;
  }
  .filter,
  .clear-filters {
    width: 7rem;
    font-size: 2rem;
  }
  .filter-items-container {
    display: flex;
    flex-direction: row;
    margin: 3rem -2rem 0 -16rem;
  }
  .sortbydate {
    display: flex;
    flex-direction: row;
    width: 10rem;
    font-size: 1.6rem;
    margin-top: -6rem;
  }
  .filter-priority {
    display: flex;
    width: 6rem;
    margin: -1rem 0 0 -11rem;
  }
}
