.HomePage-container {
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  margin-bottom: 0;
  background-color: red;
}
.heading-of-notes {
  font-size: 4rem;
  margin-top: 2rem;
  color: var(--secondary-color);
}
.name-of-app {
  color: var(--primary-color);
}
.quote-of-app {
  font-size: 3rem;
  margin-top: 5rem;
}
.image-of-homepage {
  height: 100vh;
  width: 100%;
  margin-left: 0;
  object-fit: contain;
}
.quote {
  color: var(--primary-color-dark);
}
.btn-container {
  width: 15rem;
  justify-content: center;
  padding: 3px;
  margin: 2rem 24rem;
  font-weight: bolder;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 880px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size: 90%;
  }
  .HomePage-container {
    height: 100vh;
    width: 100%;
  }

  .heading-of-notes {
    font-size: 3rem;
    margin-left: -3rem;
    align-self: center;
  }
  .image-quote-container {
    flex-direction: column;
  }
  .image-of-homepage {
    object-fit: contain;
    width: 70%;
    margin: -12rem 0 0 -3rem;
  }
  .quote-of-app {
    font-size: 3.5rem;
    width: 60%;
    margin: -15rem 0 0 -3rem;
  }
  .btn-container {
    margin-left: 4rem;
  }
}
