.hamburger-menu-container {
  padding: 1rem;
  position: fixed;
  z-index: 200;
  top: 8.7rem;
  left: 0;
  list-style: none;
  background-color: var(--white-color);
  width: 30%;
  display: flex;
  flex-direction: column;
  transform: 0.3s ease-in-out;
  height: 100vh;
  display: none;
}
.hamburger-menu-item {
  color: var(--light-teal);
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.hamburger-menu-item:hover {
  cursor: pointer;
  color: var(--dark-teal);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 880px) and (-webkit-min-device-pixel-ratio: 2) {
  .hamburger-menu-container {
    display: block;
  }
}
