.footer {
  background-color: var(--white-color);
  box-shadow: 0.3rem 0.2rem 1rem var(--light-stone);
  padding: 2rem 1rem;
  color: var(--primary-color);
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.footer-heading {
  font-size: medium;
  color: var(--primary-color);
}
.nav-icon {
  color: var(--primary-color);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 880px) and (-webkit-min-device-pixel-ratio: 2) {
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    margin-left: -8rem;
  }
}
